@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');
body {
  background-image: url(img/bkgrnd.png);
 background-color: #e2e2e2;
}


#textBlock {
  padding-top: 2vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;

}
.back-top {
display: none;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #7376df;
  opacity: 0.7;
  border-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
.back-top:hover {
  background-color: #307bc9;
  opacity: 1;
}
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
